.ingredient_item {
    position: relative;
    width: 272px;
    height: 208px;
}

.counter {
    position: absolute;
    right: 0;
    top: 0;
}

.content {
    width: 272px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 8px 0;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Iceland';
    font-size: 28px;
    height: 24px;
}

.price svg {
    margin-left: 9px;
}

.illustration {
    width: 240px;
    height: 120px;
}

.ingredient_item_text {
    display: flex;
    align-items: start;
    text-align: center;
    margin: 0;
    font-family: 'Jet Brains Mono';
    flex-grow: 1;
}
