.profile {
    composes: pt-30 from global;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.link {
    composes: text_type_main-default text_color_accent from global;
    text-decoration: none;
}

.actions {
    width: 320px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 24px;
}