.burger_constructor {
    box-sizing: border-box;
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 48px 0;
}

.constructor_area {
    width: 584px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px 0;
}

.ingredients {
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.scroll_area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px 0;
    overflow: auto;
    overflow-x: hidden;
    padding-right: 16px;
}

.constructor_item {
    width: 568px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Iceland';
    font-size: 48px;
}

.price svg {
    margin-left: 9px;
}

.info {
    width: 568px;
    height: 64px;
    display: flex;
    padding-right: 24px;
    justify-content: flex-end;
    align-items: center;
    gap: 0 48px;
}
