.ingredient_details {
    width: 720px;
    height: 539px;
    border-radius: 40px;
    background-color: var(--background);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.illustration {
    width: 480px;
    height: 240px;
}

.data_item {
    color: var(--text-inactive-color);
    width: 120px;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}


