.reset_password {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
}

.id_info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    composes: text_type_main-default text_color_accent from global;
    text-decoration: none;
}