.header {
    position: absolute;
    height: 88px;
    top: 40px;
    left: 2%;
    right: 2%;
}

.content {
    position: absolute;
    width: 1280px;
    height: 56px;
    left: calc(50% - 1280px/2);
    top: calc(50% - 56px/2);
    background: #4C4CFF;
}
